body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.overlayTop, .overlayBot {
    height: 15vh;
    display:flex;
    justify-content: center;
}

.middle {
    display: flex;
    height: 70vh;
}

.stream {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.overlayMid {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerBox {
    border-style: solid;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #888888;
    width: 20vw
}

.cards {
    width: 3vw;
    border-right: solid;
}

.hand {
    display: flex;
    gap: 1px;
}

.playerName {
    font-weight: 800;
    font-size: 22px;
    margin-left: 5px;
}

.playerPosition {
    font-size: 12px;
    margin-right: 5px;
    font-weight: 600;
}

.bucketCards {
    width: 3vw;
}

.communityCards {
    display: flex;
    gap: 4px;
    margin-bottom: 2px;
    justify-content: center;
}

.tableContainer {
    border: solid;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 22vw;
    background-color: white;
}

.pot {
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, purple, yellow)
}

.playerInfoTop {
    display: flex;
    justify-content: space-between;
}


.playerInfo {
    display: flex;
    flex-direction: column;
    width: 14vw;
    justify-content: space-around;
}

.stackInfo {
    text-align: center;
}

.button {
    color: red;
    font-weight: 700;
    margin-right: 5px;
    font-size: 18px;
}

.actionInfo {
    text-align: center;
}

.overlayBotRight {
    height: 15vh;
    display:flex;
    justify-content: end;
    margin-right: 50px;
}







