body {
    margin: 0;
    padding: 0;
}

.overlayTop, .overlayBot {
    height: 15vh;
    display:flex;
    justify-content: center;
}

.middle {
    display: flex;
    height: 70vh;
}

.stream {
    width: 80vw;
    background-color: black;
    display: flex;
    justify-content: center;
}

.streamCon {
    color: white;
    align-self: center;
    font-size: 40px
}

.overlayMid {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerBox {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 9vw
}

.cards {
    width: 3vw;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.hand {
    display: flex;
    gap: 10px;
}

.name {
    font-weight: 800;
}

.position {
    font-size: 12px;
}

.bucketCards {
    width: 3vw;
}

.communityCards {
    display: flex;
    gap: 4px;
    margin-bottom: 2px;
}

.tableContainer {
    border: solid;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.pot {
    align-self: center;
}
