body {
    margin: 0;
    padding: 0;
}

.overlayTop, .overlayBot {
    height: 15vh;
    display:flex;
    justify-content: center;
}

.middle {
    display: flex;
    height: 70vh;
}

.stream {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.overlayMid {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerBox {
    border-style: solid;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #888888;
}

.cards {
    width: 3vw;
}

.hand {
    display: flex;
}

.name {
    font-weight: 800;
}

.position {
    font-size: 12px;
}

.bucketCards {
    width: 3vw;
}

.communityCards {
    display: flex;
    gap: 4px;
    margin-bottom: 2px;
    justify-content: center;
}

.tableContainer {
    border: solid;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 22vw;
    background-color: white;
}

.pot {
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, purple, yellow)
}

